.poursemettre span, .plaisirs span, .gourmandises span{
  position:relative;
  text-decoration:none;
}
.poursemettre span:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d8852e;
  -webkit-transform: scaleX(0);
  transform-origin: 0% 50%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.poursemettre span:hover:before, .plaisirs span:hover:before, .gourmandises span:hover:before {
  
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.plaisirs span:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a56799;
  -webkit-transform: scaleX(0);
  transform-origin: 0% 50%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.gourmandises span:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6e4ccc;
  -webkit-transform: scaleX(0);
  transform-origin: 0% 50%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
