
@import "briques.css";
@import "briqueskitsm2.css";
body{
  background-color: #fff5fe;
   }
.col2{width: 20%;}.col8{width: 80%;}.col10{width: 100%;}
h2  {
  margin-top: 60px;
  text-align: center;
  font-family: 'Croissant One', cursive;
  background:linear-gradient(to right, #d8852e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   }
.proposition{
  display: flex;
            }
.poursemettre, .zero, .choix, .prix{
      color: #d8852e; 
              }
.plaisirs, .bis, .choix1, .prix1{
     color:#a56799; 
      }
.gourmandises, .ter, .choix2{
     color: #6e4ccc; 
       }
.prix, .prix1{
           display:flex;
           width: 20%;
           font-size: 1.3em;
             }
.choix, .choix1, .choix2{
                     display: flex;
                     margin-left: 200px;
                     font-size: 1.3em;
                     margin-bottom: 50px;
                     width: 80%; 
                        }
.poursemettre, .plaisirs, .gourmandises{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 1.5em;
           }
 h2{
     font-size: 2em;
     text-align: center; 
     }
.querries{
  display: none;
   }


/* adaptation pour les differentes tailles d'ecrans */

@media screen and (max-width: 599px){
   h1 img{
          max-width: 80%;
        }
  header{
          max-width: 100%;
          height: 90px;
        }
      .querries{
         display: flex;
         flex-direction: column;
         max-width: 100%;
         padding-left: 10%;
         padding-right: 10%;
         font-size: 1.5em;
               }
      .querries p{
           padding-bottom: 25px;
            }
      .proposition, .col10{
          display:none ;
          }
       footer{
           justify-content: inherit;
             }
       #footer p {
           font-size:1.3em;max-width: 100%;
           padding-left: 30px;padding-right: 30px;
              }
       footer a {
           font-size: 1em;
                }
      .poursemettre, .plaisirs, .gourmandises{
                font-size: 1.5em;
                 }
      h2 {
        font-size: 1.9em;
         }
                                    }


@media screen and (min-width: 768px)and (max-width: 1024px){
      .querries{
         display: flex;
         flex-direction: column;
         max-width: 100%;
         padding-left: 80px;
         padding-right: 40px;
            }
      .querries p{
         padding-bottom: 25px;
         }
      .proposition, .col10{
         display:none ;
           }

          }
