/*
code stylisant header footer non surligne link
placer dans un fichier a lui seul
*/
@import "briques.css";
@import "briqueskitsm3.css";

body{
  margin: 0 0 0 0;
  background-color: #f9f9f9;
  font-family: 'Dancing Script', cursive;
  height: 1300px;
    }
.col2{width: 20%;}.col8{width: 80%;}.col10{width: 100%;}

h1 {
     text-align: center;
     font-size: 3em;
     background: -webkit-linear-gradient(1deg, #0431df, #0887fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
   }
.proposition{
  display: flex;
            }
.poursemettre, .choix, .prix{
 color: black; 
          }
.prix, .prix1, .prix2{
           display:flex;
           width: 20%;
           font-size: 1.4em;
             }
.choix, .choix1, .choix2{
                     display: flex;
                     margin-left: 200px;
                     font-size: 1.4em;
                     width: 80%; 
                        }
.commencer, .continuer, .terminer {
    font-size: 1.5em;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    
           }

