@import"briques.css";
body{
  margin: 0 0 0 0;
}
section{
	font-family: 'Kaushan Script', cursive;
	 height: 900px;
}
h1 {
  margin-top: 60px;
  text-align: center;
 
  font-size: 2em;
 background: -webkit-linear-gradient(0.1deg, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   }
.esquisse{
    color: black; 
   }
   .esquisse p{
    font-size: 1.3em;
    color: black;
    margin-left: 200px;
   }
   .esquisse h2{
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
   }