/*
code stylisant header footer non surligne link
placer dans un fichier a lui seul
*/
@import "briques.css";
@import "briqueskitsm3.css";

body{
  background-color: #f9f9f9;
  font-family: 'Dancing Script', cursive;
  width: 100%;  
    }
h2 {
     margin-top: 60px;
     text-align: center;
     font-size: 3em;
     background: linear-gradient(to right, #1f3cdd 1%, #0889fb 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
   }
   .proposition {
    font-size: 1.5em;
    text-align: center;margin-bottom: 40px;
            }
.proposition span{
       text-align: center;
                 }
.proposition p {
    width: 67%;
   display: flex;
   justify-content: space-between;
   margin: auto;   
      }
.svg{display: flex;width: 70%;margin: auto;}
.svg svg {width: 100%;display: flex;}
.svggauche, .svgdroit{flex: 1;}


.commencer, .continuer, .terminer {
    font-size: 1.5em;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    
           }
.separator{display: none;}

  /* adaptation pour les differentes tailles d'ecrans */

@media screen and (max-width: 767px){
h1 img{
       max-width: 80%;
      }
       header{
          max-width: 100%;
          height: 130px;
        }
      footer{
           justify-content: inherit;
             }
       #footer p {
           font-size:1.3em;max-width: 100%;
           padding-left: 30px;padding-right: 30px;
              }
       footer a {
           font-size: 1em;
                }
      .separator {flex-direction: column;display:inherit;}
.proposition p  {flex-direction: column;}
      .poursemettre, .plaisirs, .gourmandises{
                font-size: 1.3em;
                 }
      h2 {
        font-size: 1.9em;
         }
          }
@media screen and (min-width: 768px)and (max-width: 1020px){
      .separator {flex-direction: column;display:inherit;}
.proposition p  {flex-direction: column;}     
          }
