@import "briques.css";
body{
  height: 1350px;
}


.fa-music {
  padding-top: 120px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background: -webkit-linear-gradient(0.1deg, #f15861, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5em; }

#menu1, #menu2, #menu3, #menu4 {
  margin-top: 5%;
  text-align: center;
  width: 330px;
  height: 430px;
  border: 1px solid #EFEBE9;
   box-shadow: 1px 1px 10px grey ;
  
   }
#menu1 {
       background-color: #fcdfdb;
       }
#menu2 {
       background-color: #fff5fe;
       }
#menu3 {
       background-color: #f9f9f9;
        }
#menu4 {
       background-color: #fdfffd;
        }
#menu1234{
          margin-left: 20%;
          margin-right: 20%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          }
.titremenu1, .titremenu2, .titremenu3, .titremenu4, .fa-music {
  transform: scale(1);
  transition: transform 0.6s ease-in-out; }
.titremenu1:hover, .titremenu2:hover, .titremenu3:hover, .titremenu4:hover, .fa-music:hover {
    transform: scaley(1.15) scalex(1.15);
    opacity: 0.3; }



.titremenu1 h2{
  font-size:3.2em;
 font-family: 'Devonshire', cursive;
  color:#3c1218; 
}
.titremenu1 p {
  margin-top: 20px;
  font-size: 3.5em;
  font-family: 'Kalam', cursive;
  color: #3c1218;
   }


.titremenu2 h2{
  padding-top: 170px;
  font-family: 'Croissant One', cursive;
  font-size: 1.6em;
  background: linear-gradient(to right, #DC7633, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   }
.titremenu2 p {
  padding-top: 50px;
  color: #DC7633;
  font-size: 3.85em;
   }

.titremenu3 h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.4em;
  padding-top: 145px;
  background: linear-gradient(to right, #0431df 1%, #0887fb 40% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.titremenu3 p {
  font-family: 'Oregano', cursive;
  padding-top: 45px;
  color: #0887fb;
  font-size: 4.7em;
   }



.titremenu4 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.65em;
  padding-top: 140px;
  background: linear-gradient(to right, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.titremenu4 p  {
  padding-top: 45px;
  font-family: 'Oregano', cursive;
  color: #72bf56;
  font-size: 2.65em;
   }

aside{
  margin-top: 50px;
  margin-bottom: 50px;
background-color: #579c87;
 border-radius: 10px;
 width: 500px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
}




.prochainement {
  font-size: 2em;
  color: #fdcb46;
  text-align: center;
  padding-top: 6px; }

.point1 {
  animation: point1 3s infinite; }

@keyframes point1 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.point2 {
  animation: point2 3s infinite; }

@keyframes point2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.point3 {
  animation: point3 3s infinite; }

@keyframes point3 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* adaptation pour les differentes tailles d'ecrans */
@media (max-width: 599px)
      {
        body{
            height: 1000px;
            }
        main{
            flex-direction: column;
            width: auto;
            }
       aside{
            margin-top: 40px;
            margin-bottom: 150px;
            width: auto;
            }
     #footer{
            justify-content: inherit;
            height: 120px;
            }
    footer p{
            padding-left: 60px;
            }
            #menu1, #menu2, #menu3, #menu4{
             margin-top: 30px;
             margin-bottom: 15px;
            }
     }




/*# sourceMappingURL=style.css.map */
